{{#if user}}
 <h2>You are now logged in.</h2>
 <form action="/logout" method="POST"> 
    <button type="submit" id="logout">Log out</button>
 </form>
 {{else}}
<h2>This is where you'll put your email to get a magic link.</h2>

<form action="/login" method="POST"> 
  <div>
    <label>
      Enter your email address
      <input type="email" name="email" id="email_address" />
    </label>
  </div>
  <button type="submit" id="submit_email">Get magic link</button>
</form>
{{/if}}