<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Passwordless Auth</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <h1 class="title is-2">{{title}}</h1>
  <h2 class="subtitle is-4">Welcome to {{title}}</h2>
  
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>