<h3 class="subtitle is-5">This is where you'll put your email to get a magic link.</h3>

<form class="field" action="/login" method="POST"> 
  <div>
    <label class="label">
      Email
      <input class="input" type="email" name="email" id="email_address" placeholder="Email input" />
    </label>
  </div>
  <button class="button is-link" type="submit" id="submit_email">Get magic link</button>
</form>